.hidden{
    display: none;
    visibility: hidden;
}

.div-header{
    padding-top: 5px;
    padding-bottom: 5px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body > .container {
	padding: 60px 15px 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*line-height: 60px;*/ /* Vertically center the text there */
  background-color: #f5f5f5;
  padding-top: 10px;
}

.li-circle {
  width: 4em;
  height: 4em;
  text-align: center;
  line-height: 4em;
  border-radius: 3em;
  background: #39BBC4;
  margin: 0 2em;
  display: inline-block;
  color: white;
  position: relative;
}

.li-circle::before{
  content: '';
  position: absolute;
  top: 2em;
  left: -5em;
  width: 5em;
  height: .2em;
  background: #39BBC4;
  z-index: -1;
}


.li-circle:first-child::before {
  display: none;
}

.active-circle {
  background: #39BBC4;
}

.active-circle ~ .li-circle {
  background: #B6C4BE;
}

.active-circle ~ .li-circle::before {
  background: #B6C4BE;
}